.refinancingHeroContainer {
  background-image: url("/assets/pcsresourceherobg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #aeb0c7;
  padding: 180px 0px 100px;
  z-index: 10;
  position: relative;
  width: 100%;
}

.refinancingImageContainer {
  position: relative;
  transform: translateY(10px);
}

@media screen and (max-width: 575px) {
  .refinancingHeroContainer {
    padding: 120px 30px 60px 30px;
    margin-bottom: 120px;
  }
}
