.blogimageone {
  background-image: url("/assets/BlogImage1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5.933px;
  position: relative;
  height: 400px;
  padding: 30px;
}

.blogimagetwo {
  background-image: url("/assets/BlogImage2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5.933px;
  position: relative;
  height: 400px;
  padding: 30px;
}

.blogimageThree {
  background-image: url("/assets/BlogImage3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5.933px;
  position: relative;
  height: 400px;
  padding: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .blogimageone {
    height: 300px;
  }

  .blogimagetwo {
    height: 300px;
  }

  .blogimageThree {
    height: 300px;
  }
}