.SkillsFuturesBuildContainer{
    background-image: url("/assets/Internship-section.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 446px;

    @media (min-width: 640px) {
      min-height: 636px;
    }

    @media (min-width: 768px) {
      min-height: 438px;
    }

    @media (min-width: 1024px) {
      min-height: 362px;
    }
}