.herosectioncontainer {
  background-image: url("/assets/herobgimage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #aeb0c7;
  height: 1000px;
  padding: 50px 30px;
  z-index: 10;
  position: relative;
  width: 100%;
  margin-top: 105px;
}

@media screen and (max-width: 575px) {
  .herosectioncontainer {
    margin-top: 50px;
    height: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .herosectioncontainer {
    margin-top: 50px;
    height: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .herosectioncontainer {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .herosectioncontainer {
    margin-top: 80px;
  }
}

@media screen and (min-width: 1290px) {
  .herosectioncontainer {
    margin-top: 105px;
  }
}