.herosectioncontainer {
  background-image: url("/assets/herobgimage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #aeb0c7;
  padding: 128px 30px 64px;
  z-index: 10;
  position: relative;
  width: 100%;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .herosectioncontainer {
    padding: 92px 20px 56px;
    background-position: center top;
  }
}
@media screen and (max-width: 575px) {
  .herosectioncontainer {
    background-position: center top;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .herosectioncontainer {
    padding-top: 112px;
  }
}

@media screen and (min-width: 1024px) {
  .herosectioncontainer {
    padding-top: 128px;
  }
}

@media screen and (min-width: 1290px) {
  .herosectioncontainer {
    padding-top: 153px;
  }
}
