.AboutHeroSectionContainer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 195px 30px 115px;
  margin-top: 0;
}
@media screen and (max-width: 575px) {
  .AboutHeroSectionContainer {
    padding: 80px 30px 115px 30px;
  }
}
