.AboutHeroSectionContainer {
  /* background-image: url("/assets/aboutherosectionbg.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 115px 30px;
  margin-top: -1px;
}
@media screen and (max-width: 575px)  {
  .AboutHeroSectionContainer {
    padding: 40px 30px 115px 30px;
  } 
}