.missioncontainer {
  border-radius: 32px;
  background: linear-gradient(233deg, #5A72EA 28.37%, #8468B1 95.18%), #D9D9D9;
}


@media only screen and (max-width: 600px) {
  .missioncontainer {
    border-radius: 0px;
    padding: 90px 20px 20px 20px;
    background: linear-gradient(233deg, #5a72ea 28.37%, #8468b1 95.18%), #d9d9d9;
  }
}