.MilitrarySpouseContainer {
  background-image: url("/assets/milspouseBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 115px 30px;
  margin-top: 100px;
}
@media screen and (max-width: 1024px)  {
  .MilitrarySpouseContainer {
     margin-top: 0;
  } 
}