.MilitrarySpouseContainer {
  background-image: url("/assets/milspouseBackground.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 215px 30px 115px;
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .MilitrarySpouseContainer {
    padding: 115px 30px;
    margin-bottom: 120px;
  }
}
