@tailwind base;
@tailwind components;
@tailwind utilities;

/* State Map Styling */
.map-container {
  @apply relative w-full h-[600px] bg-white;
}

.state {
  @apply cursor-pointer;
}

.st0:hover,
.st2:hover,
.st3:hover,
.small-state-group:hover .st0,
.small-state-group:hover .st2,
.small-state-group:hover .st3 {
  @apply fill-red-700 transition ease-linear duration-300 cursor-pointer;
}

.tooltip {
  @apply absolute bg-white border border-black p-1 block pointer-events-none;
}

.st0 {
  @apply fill-blue-800 stroke-white stroke-[0.75] rounded-lg;
}

.st1 {
  @apply fill-white;
}

.st2 {
  @apply fill-blue-800 stroke-white stroke-[0.75];
}

.st3 {
  @apply fill-blue-800 stroke-white stroke-[0.77];
}

.poppins {
  font-family: Poppins, sans-serif;
  letter-spacing: 0.5px;
}

.roboto {
  font-family: Roboto, sans-serif;
}
