@tailwind base;
@tailwind components;
@tailwind utilities;

/* State Map Styling */
.map-container {
  @apply relative w-full h-[600px] bg-white;
}

.state {
  @apply cursor-pointer;
}

.st0:hover,
.st2:hover,
.st3:hover,
.small-state-group:hover .st0,
.small-state-group:hover .st2,
.small-state-group:hover .st3 {
  @apply fill-red-700 transition ease-linear duration-300 cursor-pointer;
}

.tooltip {
  @apply absolute bg-white border border-black p-1 block pointer-events-none;
}

.st0 {
  @apply fill-blue-800 stroke-white stroke-[0.75] rounded-lg;
}

.st1 {
  @apply fill-white;
}

.st2 {
  @apply fill-blue-800 stroke-white stroke-[0.75];
}

.st3 {
  @apply fill-blue-800 stroke-white stroke-[0.77];
}

.poppins {
  font-family: Poppins, sans-serif;
  letter-spacing: 0.5px;
}

.roboto {
  font-family: Roboto, sans-serif;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  z-index: 1000; /* Ensure it's above other content */
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db; /* Spinner color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.slick-dots li button:before {
  font-size: 0;
}

/* Base dot style */
.slick-dots li button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #9599b3;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Smooth transition */
  position: relative;
}

/* Active dot */
.slick-dots li.slick-active button {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 100%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

/* Add glow effect using ::before */
.slick-dots li.slick-active button::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

/* Hide the glow for inactive dots */
.slick-dots li button::before {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
