.PcsResourcesHowDoesWorkItcontainer {
    background-image: url("/assets/HowDoseItWorkbg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 30px 0;
}