.HowitworkHeroSectionContainer {
  background-image: url("/assets/Howitworkhero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 215px 30px 115px;
  margin-top: 0;
}

@media screen and (max-width: 844px) {
  .HowitworkHeroSectionContainer {
    padding: 115px 30px;
  }
}
