.veterancommunitycontainer {
  background-image: url("/assets/Support-Community.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 30px;
}