.ImpactVaLoanContainer {
  background-image: url("/assets/impactvaloansection.png");
  background-size: cover;
  background-position: center;
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-color: #aeb0c7;
  padding: 100px 30px;
  position: relative;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 575px)  {
  .ImpactVaLoanContainer {
    padding: 40px 30px 60px 30px;
  } 
}