* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html,
body {
  overflow-x: hidden;
}
@media screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  html,
  body {
    overflow-x: hidden;
  }
}
.header {
  box-shadow: 0 12px 18px -6px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 575px) {
  .header {
    box-shadow: none;
  }
}
.menu-nav ul li {
  position: relative;
}

.nav li ul {
  position: absolute;
  padding: 20px 0;
  z-index: 9999;
  width: 240px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  border-top: 3px solid #2ea3f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.nav li ul {
  background-color: #292e6c !important;
}

nav ul li ul {
  top: 63px;
  left: 0;
}

.menu .menu-nav ul ul {
  padding: 20px 0;
  text-align: left;
}

.nav li:hover > ul {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.nav li ul,
blockquote {
  border-color: #003486;
}

.st0:hover,
.st2:hover,
.st3:hover,
.small-state-group:hover .st0,
.small-state-group:hover .st2,
.small-state-group:hover .st3 {
  cursor: pointer;
  fill: #292f6c !important;
}

/* .buyingsellingbtn .findagent{
  background-image: linear-gradient(90deg, #7e1618 0, #d22230 100%);
} */

.buyingsellingbtn .findagent .arrowicon {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.buyingsellingbtn .findagent:hover .arrowicon {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.fingantagent .arrowicon {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.fingantagent:hover .arrowicon {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.comlogoslider .slick-track {
  display: flex;
  align-items: center;
}

.cover-card:hover .coverd-link-img {
  display: none;
  transition: all 0.3s ease;
}

.cover-card:hover .coverd-link-imgred {
  display: block;
  transition: all 0.3s ease;
}

.cover-card .coverd-link-imgred {
  display: none;
  transition: all 0.3s ease;
}

.list-disc li::before {
  content: "\2022";
  color: #a81f23;
  font-size: 1.5rem;
  margin-right: 8px;
}

.slick-active:nth-child(1) {
  background-color: #a81f23;
}

.slick-active:nth-child(6) {
  margin-left: 10px;
}

.custom-bg-gradient {
  background: linear-gradient(233deg, #5a72ea 28.37%, #8468b1 95.18%), #d9d9d9;
  border-radius: 32px;
  padding: 40px 30px;
}

@font-face {
  font-family: "Tahoma", sans-serif;
  src: url("TAHOMABD.TTF") format("truetype");
}

.tahoma {
  font-family: "Tahoma", sans-serif;
  letter-spacing: 0.5px;
}
