.Container {
  background-color: #292f6c;
  color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.Heading {
  color: #fff;
  font-size: 33.958px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
}

.Subtext {
  color: #fff;
  font-size: 19.404px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.ContactInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.ContactItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.FormContainer {
  display: flex;
  justify-content: start;
  align-items: center;
}

.FormGroup {
  margin-bottom: 1.5rem;
}

.InputLabel {
  color: #8d8d8d;
  font-family: Tahoma;
  font-size: 14.553px;
  font-style: normal;
  font-weight: 500;
  line-height: 24.255px;
  letter-spacing: 0.5px;
}

.Input {
  width: 100%;
  padding: 0px 0.5rem;
  height: 30px;
  border-bottom: 1px solid #8d8d8d;
}

.Label {
  color: #8d8d8d;
  font-size: 14.553px;
  font-style: normal;
  font-weight: 500;
  line-height: 24.255px;
}

.SelectLabel {
  color: #292f6c;
  font-size: 16.979px;
  font-style: normal;
  font-weight: 600;
  line-height: 24.255px;
}

.RadioGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.RadioLabel {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: #292f6c;
  font-size: 14.553px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.255px;
}

.RadioLabel input[type="radio"] {
  margin-right: 0.5rem;
}

.TextArea {
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid #e2e8f0;
}
@media screen and (max-width: 575px)  {
  .Container {
    padding-top: 80px;
  } 
  .Heading {
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
    line-height: 27px;
  }
  .Subtext{
    font-size: 12px;
    text-align: center;
    line-height: normal;
  }
  .ContactItem {
    justify-content: center;
    flex-direction: column;
  }
  .ContactItem img{
    width: 27px;
    height: 27px;
  }
}